html,body {
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    display: flex;
 align-items: center;
 justify-content: center;
 font-size: 60px;

}
.main-container {
 height: 100%;
 display: flex;
 flex-direction: column; 
 align-items: center;
 justify-content: center;
}


#stopwatch {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    flex-direction: column;
	gap: 2vw;
	margin: 1vw;
	height: 40vw;
}
#start {
    background-color: rgb(21, 90, 21);
    border: 1vw solid rgb(23, 67, 23);
    border-radius: 10px;
}
#stop {
    background-color: #8b2323;
    border: 1vw solid  #591717;
    border-radius: 10px;
}
#reset {
    background-color: rgb(249, 249, 123);
    border: 1vw solid  rgb(230, 230, 98);
    border-radius: 10px;
}



#control {
	background-color: #d74040;
	width: 6vw;
	height: 6vw;
	border: 5px solid black;
    padding: 0,5vw;
	border-radius: 70%;
}

.active {
	background-color: green !important;
}

#screen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12vw;
	color: #ffffff;
	background-color: rgb(84, 84, 212);
	border: 1vw solid black;
    border-radius: 10px;
	padding: 2vw;
	width: 70vw;
	height: 20vw;
}

#controls {
	display: flex;
	flex-direction: row;
}

button {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
	margin: 0.6vw;
	width: 20vw;
	height: 10vw;
	cursor: pointer;
}

button:hover {
	transform: scale(1.1);
}